Data/
Timing/
Design/
Figures/
Analysis/
Concept/
.ipynb_checkpoints/
edf/
PilotEyeTracking/
PilotReaches/
Preprocessing/
Simulations/
00_cutoff/
0_Concept/
0_Simulations/
0_TouchCalib/
TouchCalib/
0-1_raw/
1_Data*/
1_Design*/
1_edf*/
1_Simulations/
1-2_Preprocessing/
2_msg*/
2_position*/
2_cleaned*/
2_cleaned/
2_sac*/
2-3_Analysis/
2-3_Fitted*/
3_Figures/
P1_NoiseStrike_10Tar/
P3_NoiseStrike_expNoise/
